html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.ListingImage{
  width: 100%;
  height: 19.1rem;
}

.group1, .group2 {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  /* height: 100%; */
}

.borderImg {
  border-style: dashed;
  border-radius: 4px;
  background-color: #C5C6C7;
  width: 100%;
  height: 10rem;
  border-width: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

