html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.col1 {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  margin: 10px;
  padding: 20px;
}

.eye {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  z-index: 1; /* Ensure it is on top of other elements */
}

.eye:focus {
  outline: none;
  box-shadow: none;
}

.eye:hover,
.eye:active {
  background: none;
  cursor: pointer; /* Ensure cursor changes to pointer on hover */
}